
@{
    ViewBag.Title = "Models";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <div class="sketchfab-embed-wrapper">
    <iframe width="640" height="480" src="https://sketchfab.com/models/9a6c5256916843c79da7f6a22bce3e0d/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/models/9a6c5256916843c79da7f6a22bce3e0d?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Robot (Test Character)</a>
        by <a href="https://sketchfab.com/kharte?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">kharte</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>
</ul>
