
@{
    ViewBag.Title = "Renders";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message.</h3>


<h2>Renders that would make a god weep</h2>

<ul>
    <div>
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/m2kWTAp"><a href="//imgur.com/m2kWTAp"></a></blockquote>
        <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        <!--The Robot character, hosted on Imgur -->
    </div>
    
    
    <div>
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/wcUrfHO"><a href="//imgur.com/wcUrfHO"></a></blockquote>
        <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        <!--Weapons render-->
    </div>
    
</ul>
